.wrapper {
    font-family: PT Serif;
    margin: 0;
    width: 80%;
    margin: auto;
}

.logo, .menu {
    display: inline-block;
}

.logo {
    width: 190px;
    height: 35px;
    background: url('img/logo.svg');
    margin-top: -10px;
}

.header {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 190px;
}

.menu {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-weight: 500;
}

.menu__item {
    position: relative;
    margin-right: 27px;
    color: #000;
    text-decoration: none;
    transition: opacity 0.5s;
    font-size: 18px;
}

.menu__item:last-child {
    margin-right: 0;
}

.main__title {
    padding-top: 68px;
    font-family: pt_serifbold;
    font-weight: 700;
    font-size: 66px;
    margin-bottom: 35px;
}

.main__subtitle {
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 55px;
    width: 455px;
    height: 52px;
}

.main__button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    padding: 18px 26px;
    color: #fff;
    background: #0056EC;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity 0.5s;
}

.menu__item:after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background: #0056EC;
    opacity: 0;
    transition: opacity .5s, width 1s;
}

.menu__item:hover {
    opacity: 0.5;
}

.menu__item:hover::after, .menu__item_active::after {
    opacity: 1;
    width: 100%;
}

.main {
    padding: 0 63% 300px 0;
    background: no-repeat top right url('img/framez.svg');
    background-size: 770px 656px;
    margin-top: -60px;

}

.main__title-text_highlight {
    background: #ECF3FF;
}

.main__button:hover {
    opacity: 0.5;
}

.menu__item__1 {
    width: 38px;
    height: 22px;
}

.menu__item_active {
    width: 68px;
    height: 22px;
}

.menu__item__3 {
    width: 47px;
    height: 22px;
}

.menu__item__4 {
    width: 36px;
    height: 22px;
}

.menu__item_5 {
    width: 85px;
    height: 22px;
}

.image {
    border: white;
    padding-bottom: 80px;
    background: no-repeat top center
    width: 32px;
    height: 8px;
    margin-left: 49%;
